Options -MultiViews
ReWriteEngine On

# Redirect Trailing Slashes...
# RewriteRule ^(.*)/$ /$1 [L,R=301]

ReWriteCond %{REQUEST_FILENAME} !-d
ReWriteCond %{REQUEST_FILENAME} !-f

ReWriteRule ^(.+)$ public/index.php [E=HTTP_CONTENT_TYPE:%{HTTP:Content-Type},L]
