<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
><!-- syntaxCheck="false" -->
    <testsuites>
        <testsuite name="Vyke Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <!--<filters>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./controllers</directory>
            <exclude>
                <file>./app.php</file>
                <file>./public/index.php</file>
                <directory>./views</directory>
            </exclude>
        </whitelist>
    </filters>-->
</phpunit>
